@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: rgb(255 115 179);
        --color-secondary: rgb(111 114 185);
        /* ... */
    }
}

@layer utilities {
    .hidden-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .hidden-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@layer components {
    .code-container {
        @apply p-4 border rounded-lg;
    }

    /* Tabs */
    [data-scope='tabs'][data-part='root'] {
        @apply flex flex-col w-full;
    }

    [data-scope='tabs'][data-part='list'][data-orientation='horizontal'] {
        @apply flex overflow-auto relative gap-4 shrink-0 hidden-scrollbar;
        box-shadow: 0 -1px 0 0 inset rgb(229 231 235);
    }

    [data-scope='tabs'][data-part='content'] {
        @apply pt-4;
    }

    [data-scope='tabs'][data-part='indicator'] {
        @apply bg-sky-600;
        width: var(--width);
        bottom: 0;
    }

    [data-scope='tabs'][data-part='indicator'] {
        height: 2px;
    }

    [data-scope='tabs'][data-part='trigger'] {
        @apply px-3 text-sm font-semibold min-w-10 pb-1 h-10 text-gray-400 cursor-pointer gap-2 whitespace-nowrap items-center justify-items-center shrink-0;
        z-index: 1;
    }

    [data-scope='tabs'][data-part='trigger'][data-selected] {
        @apply text-gray-600;
    }
}
